.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  height: 8vh;
  width: auto;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  .logo {
    width: 8rem;
  }
}
