.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  padding: 0 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid;
  border-color: #073858;
}
.header-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  height: 80px;
  width: auto;
}

.titulopag {
  text-align: center;
  font-size: 2rem;
  color: #073858;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  .logo {
    width: 8rem;
  }
}

.titulopag {
  text-align: center;
  font-size: 24px;

  color: #073858;
}
