<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()" class="login-form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        id="email"
        [(ngModel)]="email"
        name="email"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input
        matInput
        type="password"
        id="senha"
        [(ngModel)]="senha"
        name="senha"
        required
      />
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Entrar</button>
    </div>
  </form>

  <p>Não tem uma conta? <a routerLink="/auth/cadastro">Cadastre-se</a></p>
</div>
