<mat-card class="artwork-card">
  <mat-card-header>
    <mat-card-title>{{ obra.titulo }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img [src]="obra.imagem" alt="{{ obra.titulo }}" class="artwork-image" />
    <div class="card-textos">
      <p class="artista">{{ obra.artista }}, {{ obra.ano }}</p>
      <p class="valor">
        R$
        {{ obra.valorInicial }}
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions">
    <div class="actions-container">
      <button mat-icon-button color="warn" (click)="removerObra()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="editar(obra)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
