.artworks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.5rem;
  padding: 1.5rem;
}

@media screen and (min-width: 900px) {
  .artworks-grid {
    grid-template-columns: repeat(3, 1fr); /* Limita a 3 colunas */
  }
}

.no-artwork {
  text-align: center;
}
