.item {
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(90vh - 38px - 80px);
  width: 96vw;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease-in-out;
}

.botoes-controle {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.botoes-controle button {
  background: #dedede;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  height: 6px;
  width: 24px;
}

.botoes-controle button.ativo {
  background: #28526e;
  cursor: default;
  height: 2px;
}
