.titulopag {
  text-align: center;
  font-size: 24px;
  margin: 0px 2vw 32px 2vw;
  border-bottom: 1px solid;
  border-color: #28526e;
  padding-bottom: 16px;
  color: #28526e;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  height: 50px;
  width: 150px;
  height: auto;
}

.header-right {
  display: flex;
  align-items: center;
  padding: 16px;
}
