<div class="container">
  <div class="header">
    <img src="assets/imgs/2024-08-12_16-39.png" alt="LanceArt Logo" class="logo">
    <div class="header-right">
      <button mat-icon-button aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button aria-label="User">
        <mat-icon>person</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['cadastrarArte']">Cadastrar Arte</button>
        <button mat-menu-item [routerLink]="['listagemArtes']">Listar Artes</button>
      </mat-menu>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
